<section class="tours">

  <figure class="tours__background-photo"
          [ngStyle]="backgroundImageStyle"
  >

  </figure>

  <h2 class="header-secondary tours__header">
    {{pageTitle}}
  </h2>

  <div class="tours__list">
    <app-tile-secondary *ngFor="let singleTour of tours"
                        class="tours__single-item"
                        topRightIcon="expand_more"
                        descriptionIcon="schedule"
                        buttonText="Zobacz"
                        (onToggle)="toggleTour(singleTour)"
                        (buttonClicked)="chooseTour.emit()"
                        [mainLabel]="singleTour.title"
                        [descriptionText]="singleTour.time + ' minut'"
                        [imageUrl]="singleTour.imageUrl"
                        [expanded]="singleTour.expanded"
    >
      <!-- TODO directive for converting inflections -->

    </app-tile-secondary>
  </div>
</section>
