<div class="game-page">
  <app-toggle-primary class="align-self-center"
                      leftLabel="Trasa"
                      rightLabel="Miejsce"
                      [toggled]="currentStopVisible"
                      (toggle)="currentStopVisible = !currentStopVisible"

  >
  </app-toggle-primary>

  <div class="game-page__body">
    <guidde-me-pure-game-stop-list class="game-page__list"
                                   [stopList]="stopsList"
                                   [class.game-page__list--active]="!currentStopVisible"
    >
    </guidde-me-pure-game-stop-list>

    <guidde-me-pure-game-current-stop class="game-page__current-stop"
                                      [tourStop]="currentStop"
                                      [class.game-page__current-stop--active]="currentStopVisible"

    >
    </guidde-me-pure-game-current-stop>
  </div>

  <app-footer-primary *ngIf="nextStop; else lastStopFooter"
                      additionalLabel="Następny przystanek"
                      [mainLabel]="nextStop.name"
                      buttonLabel="Przejdź dalej"
                      class="u-mt-2"
                      (btnClick)="emitDoNextStepAction()"
  >
  </app-footer-primary>

  <ng-template #lastStopFooter>
    <app-footer-primary mainLabel="To ostatni przystanek"
                        buttonLabel="Zakończ!"
                        class="u-mt-2"
    >
    </app-footer-primary>
  </ng-template>

</div>
