.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-extra-small {
  margin-bottom: .5rem;
}

.u-margin-small {
  margin: 2rem;
}

.u-margin-medium {
  margin: 5rem;
}

.u-margin-big {
  margin: 8rem;
}

.u-margin-top-small {
  margin-top: 1.5rem;
}

.u-margin-top-medium {
  margin-top: 4rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-auto {
  margin-top: auto;
}

.u-m-auto {
  margin: auto;
}

.u-mr-auto {
  margin-right: auto;
}

.u-ml-auto {
  margin-left: auto;
}

.u-mt-01 {
  margin-top: .1rem;
}

.u-mt-025 {
  margin-top: .25rem;
}

.u-mt-05 {
  margin-top: .5rem;
}

.u-mt-1 {
  margin-top: 1rem;
}

.u-mb-025 {
  margin-bottom: .25rem;
}

.u-mb-05 {
  margin-bottom: .5rem;
}

.u-mb-075 {
  margin-bottom: .75rem;
}

.u-mb-1 {
  margin-bottom: 1rem;
}

.u-mt-2 {
  margin-top: 2rem;
}

.u-mb-2 {
  margin-bottom: 2rem;
}

.u-mt-3 {
  margin-top: 3rem;
}

.u-mb-3 {
  margin-bottom: 3rem;
}

.u-mt-4 {
  margin-top: 4rem;
}

.u-ml-025 {
  margin-left: .25rem;
}

.u-ml-05 {
  margin-left: .5rem;
}

.u-ml-1 {
  margin-left: 1rem;
}

.u-ml-2 {
  margin-left: 2rem;
}


.u-mr-025 {
  margin-right: .25rem;
}

.u-mr-05 {
  margin-right: .5rem;
}

.u-mr-1 {
  margin-right: 1rem;
}

.u-mr-2 {
  margin-right: 2rem;
}

.u-pb-1 {
  padding-bottom: 1rem;
}

.u-pb-2 {
  padding-bottom: 2rem;
}

.u-pt-1 {
  padding-top: 1rem;
}

.u-pt-2 {
  padding-top: 2rem;
}

.u-p-vert-2 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.u-margin-horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

.u-clickable {
  cursor: pointer;
}

.u-no-margin {
  margin: 0 !important;
}

.u-no-padding {
  padding: 0 !important;
}

.u-mr-1 {
  margin-right: 1rem;
}

.u-ease-in-1 {
  animation: ease-in 1s all;
}

.u-padding-small {
  padding: 2rem;
}

.u-padding-medium {
  padding: 5rem;
}

.u-padding-big {
  padding: 8rem;
}

.u-full-width {
  width: 100%;
}

.u-width-min-content {
  width: min-content;
}

.u-width-max-content {
  width: max-content;
}

.u-width-fit-content {
  width: fit-content;
}

.u-full-height {
  height: 100%
}
.u-height-0 {
  height: 0
}

.u-height-fit-content {
  height: fit-content;
}

.u-full-size {
  width: 100%;
  height: 100%;
}

.u-display-none {
  display: none !important;
}

.u-upside-down {
  transform: rotate(180deg);
}

.u-input-space {
  &:not(:last-child) {
    margin-bottom: .5rem;
  }
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-invisible {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.align-center {
  align-items: center;
}
.align-self-center {
  align-self: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.flex-wrapping-wrap {
  flex-wrap: wrap;
}

.u-rotated-180 {
  transform: rotate(180deg);
}

.u-rotated-90 {
  transform: rotate(90deg);
}

.u-rotated-270 {
  transform: rotate(270deg);
}

.u-position-absolute {
  position: absolute;
}

.u-position-relative {
  position: relative;
}


@mixin d-flex-both-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center-absolutely {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.u-color-white {
  color: white;
}

.u-center-absolutely {
  @include center-absolutely;
}

.text-align-left {
  text-align: left !important;
}

.text-align-right {
  text-align: right !important;
}

.u-overflow-3-dots {
  text-overflow: ellipsis;
  overflow: hidden;
}

.u-transition-03-easy-in-out {
  transition: all ease-in-out .3s;

}

.u-fs-08 {
  font-size: .8rem;
}
