.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: 4rem;
  box-shadow:  rgba(99, 99, 99, 0.2) 0px -2px 8px 0px;
  padding: 0 1rem;
  box-sizing: border-box;
  background-color: white;
  z-index: 3;

  &__dummy {
    display: block;
    height: 4rem;
    width: 100%;
  }

  &__main-label {
    font-weight: 600;
    grid-column: 1;
    grid-row: 2;
    font-size: .85rem;
    align-self: start;
    justify-self: flex-start;

    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
  }

  &__additional-label {
    font-weight: 300;
    grid-column: 1;
    grid-row: 1;
    font-size: .7rem;
    align-self: end;
    justify-self: flex-start;

    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
  }

  &__button {
    grid-column: 2;
    grid-row: 1 / end;
    justify-self: flex-end;
    align-self: center;
    max-width: 9rem;

    &::ng-deep > .button-primary {
      font-size: .9rem;
      min-height: 2.5rem;
    }
  }
}
