@keyframes moveDownApplications {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(1rem);
  }

  40% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(1rem);
  }

  100% {
    transform: translateY(0);
  }
}
