@mixin flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin overflowTextWithDots {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

