:root {
  --main-color-primary: #ec017c;
  --main-color-primary--light: #feeff6;

  --font-color-primary: black;
  --font-color-secondary: grey;

  --main-color-primary-oposite: white;

  --background-color: #f5ebd0;

  --border-primary-color: #e8e8e8;
  --border-radius-primary: .25rem;


  --padding-content-default: .75rem;
  --button-primary-border-radius: 2rem;
  --transition-default: all ease-in-out .2s;

  --box-shadow-primary: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  --missing-image-background-color: #d9d9d9;

}
