:root {
  --main-color-primary: #af1c47;
  --main-color-primary-oposite: white;

  --background-color: #f5ebd0;

  --border-primary-color: #e8e8e8;
  --border-radius-primary: .25rem;


  --padding-content-default: .5rem;

}
