:root {
  --main-color-primary: #ec017c;
  --main-color-primary--light: #feeff6;

  --disabled-color-primary: #b4b4b4;
  --disabled-color-primary--light: rgba(180, 180, 180, 0.2);

  --font-color-primary: black;
  --font-color-secondary: #6b6b6b;

  --main-color-primary-oposite: white;

  --background-color: #f5ebd0;

  --border-primary-color: #e8e8e8;
  --border-radius-primary: .25rem;
  --border-radius-secondary: 1rem;


  --padding-content-default: .75rem;
  --padding-page-default: 1.5rem .75rem;

  --button-primary-border-radius: 2rem;
  --transition-default: all ease-in-out .2s;

  --box-shadow-primary: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --box-shadow-secondary: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  --missing-image-background-color: #d9d9d9;


  --color-grey-1: #ebebeb;
  --color-grey-2: #a8a8a8;
  --color-grey-darker-1: #282c1c;

  --color-success: #39d50f;

}
