.button-primary {
  background-color: var(--main-color-primary);
  color: var(--main-color-primary-oposite);
  outline: none;
  border: 1px solid var(--main-color-primary);
  min-width: 7rem;
  border-radius: var(--button-primary-border-radius);
  cursor: pointer;
  font-weight: 600;
  transition: var(--transition-default);
  padding: .5rem .75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 2.3rem;

  &--reversed-color {
    background-color: var(--main-color-primary-oposite);
    color: var(--main-color-primary);
  }

  width: 100%;

  &:active {
    transform: scale(1.03);
  }

  &__icon {
    position: absolute;
    right: .5rem;
  }

  &__label {
    margin: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
  }
}
