.button-primary {
  background-color: var(--main-color-primary);
  color: var(--main-color-primary-oposite);
  outline: none;
  border: 1px solid var(--main-color-primary);
  min-width: 7rem;
  padding: var(--padding-content-default);
  border-radius: var(--border-radius-primary);
  cursor: pointer;

  &:active {
    filter: brightness(1.15);
  }
}
