<div class="carousel__wrapper">
  <div class="carousel">

    <div class="carousel__clickable" guiddeMeSwipeRecognise
      (swipedLeft)="nextElementWithCheck()"
      (swipedRight)="previousElementWithCheck()"
      [minOffset]="20"
      >
      <span (click)="previousElementWithCheck()">
        &nbsp;
      </span>
      <span (click)="nextElementWithCheck()">
        &nbsp;
      </span>
    </div>
    @for (element of carouselElements; track element) {
      @if (element.visible) {
        <img
          [src]="element.url"
          alt="image"
          class="carousel__item"
          [class.carousel__item--first]="element.displayIndex === 0"
          [class.carousel__item--second]="element.displayIndex === 1"
          [class.carousel__item--third]="element.displayIndex === 2"
          (click)="swipeElement(element)"
          >
      }
    }
  </div>

  <div class="carousel__counter">
    @for (item of carouselElements; track item) {
      <span class="carousel__counter-item"
        [class.carousel__counter-item--active]="item.displayIndex === 1"
        >
        &nbsp;
      </span>
    }
  </div>

</div>
