<section class="author-section">
  <h2 class="header-secondary">
    Autorzy
  </h2>

  <div class="author u-mt-4">
    <div class="author__image-wrapper">
      <div class="author__image-figure">
        <figure class="author__image author__image--first">
          &nbsp;
        </figure>
      </div>
    </div>

    <span class="author__name">
      Witold Drożdżowski
    </span>

    <span class="author__profession">
      Software Engineer
    </span>

    <span class="author__e-mail">
      <mat-icon>
        mail
      </mat-icon>

      drozdzowski.witold@gmail.com
    </span>

  </div>

  <div class="author u-mt-4">
    <div class="author__image-wrapper">
      <div class="author__image-figure author__image-figure--reverse">
        <figure class="author__image author__image--second">
          &nbsp;
        </figure>
      </div>
    </div>

    <span class="author__name">
      Szymon Kuśnierz
    </span>

    <span class="author__profession">
      UI/UX Designer
    </span>

    <span class="author__e-mail">
       <mat-icon>
        mail
      </mat-icon>

      szymon.kusnierz96@gmail.com
    </span>

  </div>


</section>

<svg>
  <filter id="cherry-ice-cream" x="-10%" y="-10%" width="120%" height="120%" filterUnits="objectBoundingBox"
          primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feColorMatrix type="matrix" values="1 0 0 0 0
1 0 0 0 0
1 0 0 0 0
0 0 0 1 0" in="SourceGraphic" result="colormatrix"/>
    <feComponentTransfer in="colormatrix" result="componentTransfer">
      <feFuncR type="table" tableValues="0.72 0.97"/>
      <feFuncG type="table" tableValues="0.02 0.96"/>
      <feFuncB type="table" tableValues="0.3 0.91"/>
      <feFuncA type="table" tableValues="0 1"/>
    </feComponentTransfer>
    <feBlend mode="darken" in="componentTransfer" in2="SourceGraphic" result="blend"/>
  </filter>

</svg>
