:host {
  height: 100vh;
  display: block;
  overflow: hidden;
}

.tours {
  padding: 0 var(--padding-content-default);

  &__background-photo {
    margin: 0 calc((-1) * var(--padding-content-default));
    padding: 0;
    width: calc(100% + var(--padding-content-default) * 2);
    height: 35vh;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 3rem 3rem;
    position: relative;
    z-index: -1;
  }

  &__background-photo-wrapper {
    height: 35vh;
    clip-path: url(#shapeMaskBackgroundWave);
    object-fit: cover;
    margin-right: auto;
    width: 105vw;
    margin-left: -4vw;
  }

  &__header {
    background-color: white;
    border-radius: 2rem;
    width: max-content;
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: -1.6rem;
    padding: 0.5rem 1rem;
  }

  &__single-item {
    display: block;
    margin-top: 1rem;
  }
}
