<nav class="navbar-primary">
  <div class="navbar-primary__back-icon-wrapper">
    <mat-icon class="navbar-primary__back-icon material-icons-outlined"
              (click)="backIconClicked()"
              appAddStyleClassOnAction
              actionType="click"
              classOnActionName="navbar-primary__back-icon--clicked"
              [removeTimeOutMs]="500"
    >
      arrow_back
    </mat-icon>
  </div>


  <app-hamburger-menu class="navbar-primary__hamburger">
  </app-hamburger-menu>
</nav>
