body {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 4;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hamRotate.active {
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: var(--color-grey-darker-1);
  stroke-width: 5.5;
  stroke-linecap: round;
}

.hamburger .top {
  stroke-dasharray: 32 82;
}

.hamburger .middle {
  stroke-dasharray: 25 111;
  stroke-dashoffset: -20;
}

.hamburger .bottom {
  stroke-dasharray: 15 161;
  stroke-dashoffset: -15;
}

.hamburger.active .top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}

.hamburger.active .middle {
  stroke-dasharray: 40 111;
  stroke-dashoffset: 23px;
}

.hamburger.active .bottom {
  stroke-dasharray: 40 161;
  stroke-dashoffset: -83px;
}

.hamburger-wrapper {
  width: 4rem;
  height: 4rem;
  z-index: 1;
  background-color: white;
  border-radius: 50%;

  box-shadow: var(--box-shadow-primary);
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  z-index: 0;
  overflow: hidden;

  &__icon-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
  }

  &--expanded {
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }

  &__background {
    position: absolute;
    height: 0;
    width: 0;
    top: 0;
    right: 0;
    z-index: -1;
    border-radius: 50%;
    transition: all ease-in-out .3s;

    &--expanded {
      background-color: var(--main-color-primary--light);
      width: 10vw;
      height: 10vh;
      transform: scale(30);
    }
  }


  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;

    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    visibility: hidden;
    margin: 0;
    padding: 0;
    width: max-content;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &,
    &:visited {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 300;
      padding: .25rem 2rem;
      color: var(--main-color-primary);
      text-decoration: none;
      background-color: transparent;
      transition: all .4s;

      border: none;
      cursor: pointer;
      //text-shadow: 8px 6px 6px rgb(0 0 0);;
    }

    span {
      margin-right: 1.5rem;
      display: inline-block;
    }
  }


  &--expanded ~ &__background {
    transform: scale(80);
  }

  &--expanded ~ &__limit--wrapper &__limit {
    width: 35vw;
  }

  &--expanded ~ &__limit--wrapper &__limit &__background {
    transform: scale(80);
  }

  &--expanded ~ &__limit--rest {
  }

  &--expanded &__nav {
    opacity: 1;
    width: 100%;
  }

  &--expanded &__nav &__list {
    visibility: visible;
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &--expanded + &__button &__icon {
    background-color: transparent;
  }

  &--expanded + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &--expanded + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

}
