<div class="map-wrapper">
  @if (!readonly) {
    <mat-icon class="map-icon map-change-center-icon" (click)="toggleMapCenter()"
      >
      {{centralisedOnCurrentPosition ? 'location_on' : 'my_location'}}
    </mat-icon>
  }

  @if (!readonly) {
    <mat-icon class="map-icon map-toggle-icon" (click)="toggleMapHeight()"
      >
      unfold_more
    </mat-icon>
  }

<!--  AGM HAD BEEN REMOVED FROM THE PROJECT-->
<!--  <agm-map [ngStyle]="{'height': mapHeight}"-->
<!--    [latitude]=mapGeneralPosition.position.latitude-->
<!--    [longitude]=mapGeneralPosition.position.longitude-->
<!--    [zoom]="mapGeneralPosition.zoom"-->
<!--    [styles]="styles"-->
<!--    [clickableIcons]="false"-->
<!--    (zoomChange)="zoomChanged($event)"-->
<!--    (centerChange)="mapDragged($event)"-->
<!--    (mapReady)="onMapReady()"-->
<!--    [usePanning]="true"-->
<!--    [streetViewControl]="false"-->
<!--    [gestureHandling]="gestureHandling"-->
<!--    [zoomControl]="false"-->
<!--    >-->

<!--    @if (!hidePins) {-->
<!--      @for (singlePin of mapPins; track singlePin) {-->
<!--        <agm-overlay-->
<!--          [latitude]="singlePin.latitude"-->
<!--          [longitude]="singlePin.longitude"-->
<!--          >-->
<!--          <div class="pin-wrapper">-->
<!--            <div class='pin'-->
<!--              [class.pin&#45;&#45;highlighted]="singlePin.highlighted"-->
<!--              [class.pin&#45;&#45;faded]="singlePin.inactive"-->
<!--              >-->
<!--              <img src="/assets/mapa.jpg" alt="'Brak zdjecia'">-->
<!--              <span>{{singlePin.index}}</span>-->
<!--            </div>-->
<!--            <div id="pulse-{{singlePin.index}}" class='pulse'></div>-->
<!--          </div>-->
<!--        </agm-overlay>-->
<!--      }-->
<!--    }-->

<!--    @if (currentLivePosition) {-->
<!--&lt;!&ndash;      REMOVED&ndash;&gt;-->
<!--&lt;!&ndash;      <agm-overlay&ndash;&gt;-->
<!--&lt;!&ndash;        [latitude]="currentLivePosition.latitude"&ndash;&gt;-->
<!--&lt;!&ndash;        [longitude]="currentLivePosition.longitude"&ndash;&gt;-->
<!--&lt;!&ndash;        >&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="live-location-pin-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;          <span class="live-location-pin">&ndash;&gt;-->
<!--&lt;!&ndash;            &nbsp;&ndash;&gt;-->
<!--&lt;!&ndash;          </span>&ndash;&gt;-->
<!--&lt;!&ndash;          <span class="live-location-pin__middle">&ndash;&gt;-->
<!--&lt;!&ndash;            &nbsp;&ndash;&gt;-->
<!--&lt;!&ndash;          </span>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </agm-overlay>&ndash;&gt;-->
<!--    }-->

<!--    @if (convertedDirOrigin && convertedDirDestination) {-->
<!--&lt;!&ndash;      REMOVED&ndash;&gt;-->
<!--&lt;!&ndash;      <agm-direction&ndash;&gt;-->
<!--&lt;!&ndash;        [origin]="convertedDirOrigin"&ndash;&gt;-->
<!--&lt;!&ndash;        [destination]="convertedDirDestination"&ndash;&gt;-->
<!--&lt;!&ndash;        [renderOptions]="directionRenderOptions"&ndash;&gt;-->
<!--&lt;!&ndash;        [waypoints]="routeWaypoints"&ndash;&gt;-->
<!--&lt;!&ndash;        [travelMode]="travelMode"&ndash;&gt;-->
<!--&lt;!&ndash;        >&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="pin-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class='pin'&ndash;&gt;-->
<!--&lt;!&ndash;            >&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="/assets/mapa.jpg" alt="'Brak zdjecia'">&ndash;&gt;-->
<!--&lt;!&ndash;            <span>{{0}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </agm-direction>&ndash;&gt;-->
<!--    }-->

<!--    &lt;!&ndash;  <agm-marker *ngIf="markerCoordinate" [latitude]="markerCoordinate.lng" [longitude]="markerCoordinate.lat"&ndash;&gt;-->
<!--    &lt;!&ndash;  >&ndash;&gt;-->
<!--  &lt;!&ndash;  </agm-marker>&ndash;&gt;-->
<!--</agm-map>-->
</div>

