:host {
  width: 100%;
  position: relative;
}

.map-container {
  display: block;
  transition: var(--transition-default);
}

.map-wrapper {
  width: 100%;
  height: min-content;
  border-radius: 1.5rem;
  position: relative;
  overflow: hidden;
}

.map-icon {
  position: absolute;
  z-index: 4;
  background-color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow-secondary);
  transition: var(--transition-default);
  transition-duration: .2s;
}

.map-toggle-icon {
  right: 1rem;
  top: 1rem;

  &:active {
    width: 2.5rem;
    height: 2.5rem;
    right: .75rem;
    top: .75rem;
    font-size: 1.9rem;
  }
}

.map-change-center-icon {
  left: 1rem;
  top: 1rem;

  &:active {
    width: 2.5rem;
    height: 2.5rem;
    left: .75rem;
    top: .75rem;
    font-size: 1.9rem;
  }
}
