<div class="map-wrapper">
  <mat-icon class="map-icon map-change-center-icon" (click)="toggleMapCenter()"
            *ngIf="!readonly"
  >
    {{centralisedOnCurrentPosition ? 'location_on' : 'my_location'}}
  </mat-icon>

  <mat-icon class="map-icon map-toggle-icon" (click)="toggleMapHeight()"
            *ngIf="!readonly">
    unfold_more
  </mat-icon>

  <agm-map [ngStyle]="{'height': mapHeight}"
           [latitude]=mapGeneralPosition.position.latitude
           [longitude]=mapGeneralPosition.position.longitude
           [zoom]="4"
           [styles]="styles"
           [clickableIcons]="false"
           (zoomChange)="zoomChanged($event)"
           (centerChange)="mapDragged($event)"
           (mapReady)="onMapReady()"
           [usePanning]="true"
           [streetViewControl]="false"
           [gestureHandling]="gestureHandling"
           [zoomControl]="false"
  >

    <ng-container *ngIf="!hidePins">
      <agm-overlay *ngFor="let singlePin of mapPins"
                   [latitude]="singlePin.latitude"
                   [longitude]="singlePin.longitude"
      >
        <div class="pin-wrapper">
          <div class='pin'
               [class.pin--highlighted]="singlePin.highlighted"
               [class.pin--faded]="singlePin.inactive"
          >
            <img src="/assets/mapa.jpg" alt="'Brak zdjecia'">
            <span>{{singlePin.index}}</span>
          </div>
          <div id="pulse-{{singlePin.index}}" class='pulse'></div>

        </div>
      </agm-overlay>
    </ng-container>

    <agm-overlay *ngIf="currentLivePosition"
                 [latitude]="currentLivePosition.latitude"
                 [longitude]="currentLivePosition.longitude"
    >
      <div class="live-location-pin-wrapper">
        <span class="live-location-pin">
          &nbsp;
        </span>
        <span class="live-location-pin__middle">
          &nbsp;
        </span>
      </div>
    </agm-overlay>

    <agm-direction *ngIf="convertedDirOrigin && convertedDirDestination"
                   [origin]="convertedDirOrigin"
                   [destination]="convertedDirDestination"
                   [renderOptions]="directionRenderOptions"
                   [waypoints]="routeWaypoints"
                   [travelMode]="travelMode"
    >

      <div class="pin-wrapper">
        <div class='pin'
        >
          <img src="/assets/mapa.jpg" alt="'Brak zdjecia'">
          <span>{{0}}</span>
        </div>

      </div>
    </agm-direction>

    <!--  <agm-marker *ngIf="markerCoordinate" [latitude]="markerCoordinate.lng" [longitude]="markerCoordinate.lat"-->
    <!--  >-->
    <!--  </agm-marker>-->
  </agm-map>
</div>

