.tile-secondary {
  display: grid;
  grid-template-rows: 2rem 1.5rem 1fr min-content;
  grid-template-columns: 3.5rem repeat(2, 1fr);
  padding: 1.15rem 1rem;
  box-shadow: var(--box-shadow-primary);
  transition: var(--transition-cubic-beazier-default);
  border-radius: 1.5rem;
  overflow: hidden;
  cursor: pointer;
  height: 3.5rem;

  &--expanded {
    height: 18rem;

    &:hover {
      transform: translateY(0);
    }
  }

  &__main-label {
    grid-column: 2 / span 2;
    margin-left: .5rem;
    grid-row: 1;
    color: var(--font-color-primary);
    font-size: 1.2rem;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
    white-space: nowrap;
    align-self: flex-end;
  }

  &__main-image {
    grid-column: 1;
    grid-row: 1 / span 2;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  &__right-icon {
    font-size: 2rem;
    grid-row: 1 / span 2;
    grid-column: 4;
    display: flex;
    align-items: center;
    justify-self: flex-end;
    align-self: center;
    justify-content: center;
    transition: inherit;
  }

  &--expanded &__right-icon {
    transform: rotate(180deg);
  }

  &__description {
    grid-row: 2;
    grid-column: 2;
    margin-left: .5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--font-color-secondary);

    font-size: .85rem;

    & > mat-icon {
      font-size: .9rem;
      width: 1.1rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__expanded-elem {
    grid-row: 3;
    grid-column: 1/end;
    height: 0;
    visibility: hidden;
    transition: all linear .3s;
    opacity: 0;

    & > img {
      display: flex;
      width: 100%;
      max-height: 10rem;
      object-fit: cover;
      border-radius: 1rem;
    }
  }

  &__extra-details {
    display: grid;
    grid-column: 1 / end;
    grid-row: 2;
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
    padding: .5rem 0;
  }

  &__single-extra-detail {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: .8rem;
    color: var(--color-grey-3);
    font-weight: 500;

    &--second {
      justify-content: flex-end;
    }

    & mat-icon {
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: min-content;
      margin-right: .25rem;
      position: relative;
    }

    &--highlighted {

      & > mat-icon::after {
        position: absolute;
        content: "";
        width: 80%;
        height: 80%;
        background-color: currentColor;
        opacity: 0.25;
        border-radius: 50%;
        z-index: -1;
        filter: blur(4px);
      }
    }
  }

  &__image {
    width: 100%;
    margin: 0;
    height: 9.75rem;
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
  }

  &--expanded &__expanded-elem {
    margin-top: .75rem;
    visibility: visible;
    height: min-content;
    opacity: 1;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content 3rem;

    & > img {
      display: flex;
      width: 100%;
      max-height: 10rem;
      object-fit: cover;
    }

    & > span {
      color: white;
    }
  }

  &__missing-image {
    height: 5rem;
    background-color: var(--missing-image-background-color);
    position: relative;

    &:after {
      content: "Couldn't load the image. Sorry for the inconvenience.";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--missing-image-background-color);
      text-align: center;
    }
  }

  &__button {
    grid-column: 1 / end;
    grid-row: 3;
    transition: inherit;
    transition-delay: 0s;

    visibility: hidden;
    opacity: 0;
    height: 0;
  }

  &--expanded &__button {
    visibility: visible;
    opacity: 1;
    height: unset;
    transition-delay: .15s;
  }
}
