<div class="tile-secondary"
     [class.tile-secondary--expanded]="expanded"
     (click)=" expanded = !expanded"
>
  <span class="tile-secondary__main-label">
    {{mainLabel}}
  </span>

  <mat-icon class="tile-secondary__right-icon">
    {{topRightIcon}}
  </mat-icon>

  <div class="tile-secondary__description">
    <mat-icon class="tile-secondary__description-icon" *ngIf="descriptionIcon">
      {{descriptionIcon}}
    </mat-icon>

    <span class="tile-secondary__description-text">
      {{descriptionText}}
    </span>
  </div>

  <div class="tile-secondary__expanded-elem">
    <img *ngIf="imageUrl"
         [src]="imageUrl"
         alt="tile-image"
         [class.tile-secondary__missing-image]="missingImage"
         (error)="handleMissingImage()"
    >
  </div>

  <app-button-secondary class="tile-secondary__button"
                      [label]="buttonText"
                      iconName="chevron_right"
                      (click)="expanded && clickButton($event)"
  >

  </app-button-secondary>
</div>
