.tile-category-primary {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: min-content 1fr 3.5rem;

  border-radius: var(--border-radius-secondary);
  padding: var(--padding-content-default);
  border: 1px solid var(--border-primary-color);
  background-image: url("../../../../../assets/main-photo.jpg");
  background-size: cover;
  background-position: center;
  min-height: 10.5rem;
  height: 100%;
  clip-path: url(#my-clip-path);

  &:hover {
    filter: brightness(.9);
  }

  &__info {
    position: absolute;
    z-index: 1;
    background-color: var(--main-color-primary);
    color: var(--main-color-primary-oposite);
    border-radius: 50%;
    padding: 0.25rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    grid-row: 3;
    grid-column: 1 / end;
    font-size: 1.5rem;
    padding: .25rem;
    margin: 0 1rem;

    outline: none;
    background-color: white;
    color: var(--color-grey-darker-1);
    border: none;
    border-radius: 1rem;
    clip-path: url(#my-clip-path);
  }
}

.svg {
  position: absolute;
  width: 0;
  height: 0;
}
