<div *ngIf="!loadingInProgress; else loadingSkeletonTemplate"
     class="tile-category-primary"
     [ngStyle]="backgroundStyle"
>
  <span class="tile-category-primary__info">
    {{rightText}}
  </span>

  <button class="tile-category-primary__button"
          (click)="buttonClicked.emit()"
  >
    {{buttonText}}
  </button>

</div>

<ng-template #loadingSkeletonTemplate>
  <div class="tile-category-primary"
       *skeleton="true; repeat: 1; className: 'tile-category-primary'; height: '7.5rem'; width: '100%' "
  >

  </div>
</ng-template>
