.tile-category-primary {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: .25rem;
  padding: var(--padding-content-default);
  border: 1px solid var(--border-primary-color);
}
