<div class="u-invisible"
     appOffsetFixedActivity
     sourcePosition="top"
     (onChangedFixedActivity)="changeState($event)"
>
  &nbsp;
</div>

<nav class="navigation"
     [class.navigation--fixed]="navigationFixed"
>
  <ul class="navigation__list">
    <li class="navigation__item"
        *ngFor="let navItem of navigationList;let index = index;"
        [class.navigation__item--active]="activeIndex === index"
        (click)="scrollInto(navItem)"
    >
      <a class="navigation__link">
        {{navItem.title}}
      </a>
    </li>
  </ul>
</nav>

<div class="single-content" *ngFor="let navItem of navigationList; let index = index;"
     [id]="navItem.title"
     visible
     sourcePosition="top"
     [additionalOffset]="250"
     [range]="120"
     (onVisible)="changeActivity(index)"
>

  <div class="single-content__section" *ngFor="let singleContent of navItem.content">
    <h3 *ngIf="singleContent.title"
        class="single-content__section-header header-tertiary"
    >
      {{singleContent.title}}
    </h3>

    <img *ngIf="singleContent.imageUrl"
         class="single-content__image"
         [src]="singleContent.imageUrl"
         [alt]=""
    >
    <!-- TODO - alt image-->

    <p *ngIf="singleContent.text"
       class="single-content__text"
       [innerHTML]="singleContent.text"
    >
    </p>

  </div>

</div>
