.toggle {
  background-color: var(--color-grey-1);
  display: grid;
  width: max-content;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-content: center;
  position: relative;
  justify-content: center;
  border-radius: 1.5rem;
  min-height: 2.5rem;

  &__active-background {
    position: absolute;
    background-color: var(--main-color-primary);
    width: calc(50% - .4rem);
    height: calc(100% - .4rem);
    margin: 0;
    padding: 0;
    z-index: 1;
    transition: all ease-in-out .4s;
    border-radius: 1rem;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    cursor: pointer;
    border: none  ;

    top: .2rem;
    left: .2rem;

    &:active {
      filter: brightness(.9);
    }

    &--toggled {
      left: 50%;
    }
  }

  &__item {
    padding: .15rem 1.5rem;
    text-align: center;
    z-index: 2;
    font-weight: 500;
    cursor: pointer;
    transition: all ease-in-out .4s;

    &--active {
      color: var(--main-color-primary-oposite);;
    }
  }
}
