.task-list {
  display: block;
  margin: auto;

  padding: 0;

  & > ul {
    padding: 0;
    margin: 0;
  }
}

.task-item {
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-column-gap: .5rem;
  grid-template-rows: 4rem;
  align-items: center;
  position: relative;

  &__icon {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow-primary);
    background-color: var(--color-grey-2);
    color: white;
    width: 2.25rem;
    height: 2.25rem;
    margin: auto;
    transition: var(--transition-default);

    &--done {
      background-color: var(--main-color-secondary);
      color: var(--color-grey-darker-1);
    }

    &--current {
      background-color: var(--main-color-primary);
    }


    & > mat-icon {
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__name--active {
    font-weight: bold;
  }

  &:not(:first-child):after {
    content: "";
    width: 1px;
    height: calc((40% / 2));
    background-color: transparent;
    border-right: solid 1px var(--color-grey-2);
    position: absolute;
    top: calc((40% / 4) * (-1));
    left: 1.43rem;
  }
}
