<div class="single-tour">
  <app-card-primary class="single-tour__card"
                    [title]="title"
                    [imageUrl]="mainUrlImage"
                    [details]="singleDetails"
  >

  </app-card-primary>

  <app-navbar-scroll [navigationList]="navigationList"
                     class="single-tour__nav-scroll"
  >

  </app-navbar-scroll>

  <app-button-primary class="single-tour__start-button"
                      label="Rozpocznij!"
                      (btnClick)="startGame.emit()"
  ></app-button-primary>
</div>
